
    create sequence instit_seq start with 1000 increment by 10;

    create table tb_agencias (
        codigo bigint identity not null,
        instituicao_id bigint not null,
        cep varchar(255) not null,
        cidade varchar(255) not null,
        nome varchar(255) not null,
        primary key (codigo)
    );

    create table tb_clientes (
        data_primeira_conta date not null,
        cpf varchar(255) not null,
        nome varchar(255) not null,
        senha varchar(255) not null,
        primary key (cpf)
    );

    create table tb_contas (
        data_abertura date not null,
        saldo numeric(38,2) not null,
        agencia_id bigint not null,
        id bigint not null,
        codigo varchar(255) not null,
        primary key (id)
    );

    create table tb_contas_correntes (
        limite_credito numeric(38,2) not null,
        id bigint not null,
        primary key (id)
    );

    create table tb_contas_poupancas (
        data_aniversario date not null,
        rendimento numeric(38,2) not null,
        id bigint not null,
        primary key (id)
    );

    create table tb_instituicoes_bancarias (
        codigo bigint identity not null,
        cep varchar(255) not null,
        cidade varchar(255) not null,
        nome varchar(255) not null,
        primary key (codigo)
    );

    create table tb_titulares_conta (
        conta_id bigint not null,
        cliente_id varchar(255) not null
    );

    alter table tb_agencias
       add constraint FKqpsl8lx80j914qa2r3ocbkn20
       foreign key (instituicao_id)
       references tb_instituicoes_bancarias;

    alter table tb_contas
       add constraint FK49h0e58yqg62oy7k725dlmafh
       foreign key (agencia_id)
       references tb_agencias;

    alter table tb_contas_correntes
       add constraint FKtr89mhsx7745kkydkf61j2nwv
       foreign key (id)
       references tb_contas;

    alter table tb_contas_poupancas
       add constraint FKgx3n87p5tnlqhmbe5j2r9bvsb
       foreign key (id)
       references tb_contas;

    alter table tb_titulares_conta
       add constraint FKda6gux9x88md0qd9b7qd0gmxv
       foreign key (cliente_id)
       references tb_clientes;

    alter table tb_titulares_conta
       add constraint FKruoafnutqdsenm8dbyey4qkdd
       foreign key (conta_id)
       references tb_contas;
